<% unless flash[:hospital_modal_error].present? %>
  <% flash.each do |type, message| %>
    <% css_class =
      case type.to_sym
      when :notice then "alert alert-success"
      when :alert  then "alert alert-danger"
      else              "alert alert-info"
      end
    %>
    <div class="<%= css_class %>" role="alert" data-controller="flash" data-flash-target="message">
      <%= message %>
    </div>
  <% end %>
<% end %>